<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">About Us</a></li>
            <li class="new_offers_title"><a href="#">New Offers!</a></li>
            <li><a href="#">Rent Out</a></li>
            <li><a href="#">All Offers</a></li>
            <li><a href="#">Subscribtion</a></li>
        </ul>
        <label class="account"><img src="/static/img/account.png" alt=""></label>
        <label class="logo"><img src="/static/img/logo.jfif" alt=""></label>
    </nav>
</body>
</html>